In [4]:
import pandas as pd
import json
import constants
from sdig.erddap.info import Info
import numpy as np
from functools import reduce

In [5]:
s0 = [
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux"
]
v0 = [
    "RAIN"
]
s1 = [
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux"
]
v1 = [
    "TAUX",
    "TAUY",
    "QLAT", 
    "QSEN",
    "EVAP"
]
v2 = [
    "QL",
    "QS",
    "QN",
    "TAUE",
    "TAUN"
]
s2 = [
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux"
]
v3 = ["QNET"]
s3 = [
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux",
    "http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux"
]

In [6]:
d0 = None
for source in s0:
    df = pd.read_csv(source+'.csv', skiprows=[1])
    adf = df[['time','wmo_platform_code', 'site_code']+ v0]
    if d0 is None:
        d0 = adf
    else:
        d0 = pd.concat([d0, adf])
d0

                     time  wmo_platform_code site_code  RAIN
0    2006-06-01T00:00:00Z            13001.0    12n23w   536
1    2006-07-01T00:00:00Z            13001.0    12n23w   743
2    2006-08-01T00:00:00Z            13001.0    12n23w   742
3    2006-09-01T00:00:00Z            13001.0    12n23w   718
4    2006-10-01T00:00:00Z            13001.0    12n23w   744
..                    ...                ...       ...   ...
568  2018-05-01T00:00:00Z            51400.0     WHOTS   744
569  2018-06-01T00:00:00Z            51400.0     WHOTS   720
570  2018-07-01T00:00:00Z            51400.0     WHOTS   744
571  2018-08-01T00:00:00Z            51400.0     WHOTS   744
572  2018-09-01T00:00:00Z            51400.0     WHOTS   592

[23123 rows x 4 columns]

In [7]:
d1 = None
for source in s1:
    df = pd.read_csv(source+'.csv', skiprows=[1])
    adf = df[['time','wmo_platform_code', 'site_code']+ v1]
    if d1 is None:
        d1 = adf
    else:
        d1 = pd.concat([d1, adf])
d1

,time,wmo_platform_code,site_code,TAUX,TAUY,QLAT,QSEN,EVAP
0,2006-06-01T00:00:00Z,13001.0,12n23w,536,536,536,536,536
1,2006-07-01T00:00:00Z,13001.0,12n23w,744,744,744,744,744
2,2006-08-01T00:00:00Z,13001.0,12n23w,744,744,744,744,744
3,2006-09-01T00:00:00Z,13001.0,12n23w,720,720,720,720,720
4,2006-10-01T00:00:00Z,13001.0,12n23w,729,729,729,729,729
...,...,...,...,...,...,...,...,...
166,2021-10-01T00:00:00Z,48400.0,50n145w,744,744,744,744,744
167,2021-11-01T00:00:00Z,48400.0,50n145w,720,720,720,720,720
168,2021-12-01T00:00:00Z,48400.0,50n145w,744,744,744,744,744
169,2022-01-01T00:00:00Z,48400.0,50n145w,744,744,744,744,744
170,2022-02-01T00:00:00Z,48400.0,50n145w,570,570,570,570,570

In [8]:
d2 = None
for source in s2:
    df = pd.read_csv(source+'.csv', skiprows=[1])
    adf = df[['time','wmo_platform_code', 'site_code']+ v2]
    if d2 is None:
        d2 = adf
    else:
        d2 = pd.concat([d2, adf])
d2

,time,wmo_platform_code,site_code,QL,QS,QN,TAUE,TAUN
0,2000-10-01T00:00:00Z,38400.0,Stratus,574,574,574,574,574
1,2000-11-01T00:00:00Z,38400.0,Stratus,720,720,720,720,720
2,2000-12-01T00:00:00Z,38400.0,Stratus,744,744,744,744,744
3,2001-01-01T00:00:00Z,38400.0,Stratus,744,744,744,744,744
4,2001-02-01T00:00:00Z,38400.0,Stratus,672,672,672,672,672
...,...,...,...,...,...,...,...,...
568,2018-05-01T00:00:00Z,51400.0,WHOTS,744,744,744,744,744
569,2018-06-01T00:00:00Z,51400.0,WHOTS,720,720,720,720,720
570,2018-07-01T00:00:00Z,51400.0,WHOTS,744,744,744,744,744
571,2018-08-01T00:00:00Z,51400.0,WHOTS,744,744,744,744,744
572,2018-09-01T00:00:00Z,51400.0,WHOTS,592,592,592,592,592

In [9]:
d3 = None
for source in s3:
    df = pd.read_csv(source+'.csv', skiprows=[1])
    adf = df[['time','wmo_platform_code', 'site_code']+ v3]
    if d3 is None:
        d3 = adf
    else:
        d3 = pd.concat([d3, adf])
d3

                     time  wmo_platform_code site_code  QNET
0    2008-10-01T00:00:00Z              13001    12n23w   183
1    2008-11-01T00:00:00Z              13001    12n23w   720
2    2008-12-01T00:00:00Z              13001    12n23w   744
3    2009-01-01T00:00:00Z              13001    12n23w   744
4    2009-02-01T00:00:00Z              13001    12n23w   672
..                    ...                ...       ...   ...
166  2021-10-01T00:00:00Z              48400   50n145w   744
167  2021-11-01T00:00:00Z              48400   50n145w   720
168  2021-12-01T00:00:00Z              48400   50n145w   744
169  2022-01-01T00:00:00Z              48400   50n145w   744
170  2022-02-01T00:00:00Z              48400   50n145w   570

[4494 rows x 4 columns]

In [10]:
d01 = pd.merge(d0, d1, on=['time', 'wmo_platform_code', 'site_code'], how='outer')
d01

,time,wmo_platform_code,site_code,RAIN,TAUX,TAUY,QLAT,QSEN,EVAP
0,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0
1,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0
2,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0
3,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0
4,2006-07-01T00:00:00Z,13001.0,12n23w,743,744.0,744.0,744.0,744.0,744.0
...,...,...,...,...,...,...,...,...,...
55228,2018-05-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN
55229,2018-06-01T00:00:00Z,51400.0,WHOTS,720,NaN,NaN,NaN,NaN,NaN
55230,2018-07-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN
55231,2018-08-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN
55232,2018-09-01T00:00:00Z,51400.0,WHOTS,592,NaN,NaN,NaN,NaN,NaN

In [11]:
d012 = pd.merge(d01, d2, on=['time', 'wmo_platform_code', 'site_code'], how='outer')
d012

,time,wmo_platform_code,site_code,RAIN,TAUX,TAUY,QLAT,QSEN,EVAP,QL,QS,QN,TAUE,TAUN
0,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN
1,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN
2,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN
3,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN
4,2006-07-01T00:00:00Z,13001.0,12n23w,743,744.0,744.0,744.0,744.0,744.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55228,2018-05-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN,744.0,744.0,744.0,744.0,744.0
55229,2018-06-01T00:00:00Z,51400.0,WHOTS,720,NaN,NaN,NaN,NaN,NaN,720.0,720.0,720.0,720.0,720.0
55230,2018-07-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN,744.0,744.0,744.0,744.0,744.0
55231,2018-08-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN,744.0,744.0,744.0,744.0,744.0
55232,2018-09-01T00:00:00Z,51400.0,WHOTS,592,NaN,NaN,NaN,NaN,NaN,592.0,592.0,592.0,592.0,592.0

In [12]:
d0123 = pd.merge(d012, d3, on=['time', 'wmo_platform_code', 'site_code'], how='outer')
with constants.postgres_engine.connect() as conn:
    d0123.to_sql('nobs', index=False, con=conn, if_exists='replace')
d0123

,time,wmo_platform_code,site_code,RAIN,TAUX,TAUY,QLAT,QSEN,EVAP,QL,QS,QN,TAUE,TAUN,QNET
0,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2006-06-01T00:00:00Z,13001.0,12n23w,536,536.0,536.0,536.0,536.0,536.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2006-07-01T00:00:00Z,13001.0,12n23w,743,744.0,744.0,744.0,744.0,744.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83724,2018-05-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN,744.0,744.0,744.0,744.0,744.0,NaN
83725,2018-06-01T00:00:00Z,51400.0,WHOTS,720,NaN,NaN,NaN,NaN,NaN,720.0,720.0,720.0,720.0,720.0,NaN
83726,2018-07-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN,744.0,744.0,744.0,744.0,744.0,NaN
83727,2018-08-01T00:00:00Z,51400.0,WHOTS,744,NaN,NaN,NaN,NaN,NaN,744.0,744.0,744.0,744.0,744.0,NaN
83728,2018-09-01T00:00:00Z,51400.0,WHOTS,592,NaN,NaN,NaN,NaN,NaN,592.0,592.0,592.0,592.0,592.0,NaN

In [14]:
platform_file = 'oceansites_flux_list.json'
platform_json = None
if platform_file is not None:
    with open(platform_file) as platform_stream:
        platform_json = json.load(platform_stream)

In [15]:
variables_by_did = {}
locations_by_did = {}
units_by_did = {}
metadata_by_did = {}
loc_df = None
for dataset in platform_json['config']['datasets']:
    url = dataset['url']
    locations_url = dataset['locations']
    did = url[url.rindex('/') + 1:]
    dataset['id'] = did
    info = Info(url)
    title = info.get_title()
    dataset['title'] = title
    start_date, end_date, start_date_seconds, end_date_seconds = info.get_times()
    dataset['start_date'] = start_date
    dataset['end_date'] = end_date
    dataset['start_date_seconds'] = start_date_seconds
    dataset['end_date_seconds'] = end_date_seconds
    variables_list, long_names, units, standard_names, d_types = info.get_variables()
    units_by_did[did] = units
    variables_by_did[did] = variables_list
    metadata_by_did[did] = dataset
    mdf = pd.read_csv(locations_url, skiprows=[1],
                      dtype={'wmo_platform_code': str, 'site_code': str, 'latitude': np.float64, 'longitude': np.float64})
    if mdf.shape[0] > 1 and mdf.site_code.nunique() <= 1:
        adf = mdf.mean(axis=0, numeric_only=True)
        adf['site_code'] = mdf['site_code'].iloc[0]
        mdf = pd.DataFrame(columns=['latitude', 'longitude', 'site_code'], index=[0], )
        mdf['latitude'] = adf.loc['latitude']
        mdf['longitude'] = adf.loc['longitude']
        mdf['site_code'] = adf.loc['site_code']
        mdf['wmo_platform_code'] = adf.loc['wmo_platform_code']
    if loc_df is None:
        loc_df = mdf
    else:
        loc_df = pd.concat([loc_df, mdf])

In [16]:
loc_df = loc_df.drop_duplicates()
with constants.postgres_engine.connect() as conn:
    loc_df.to_sql('locations', index=False, con=conn, if_exists='replace')
loc_df

   site_code wmo_platform_code  latitude  longitude
0       0n0e             13010       0.0        0.0
1      0n10w             15002       0.0      -10.0
2     0n110w             32323       0.0     -110.0
3     0n125w             51011       0.0     -125.0
4     0n137e             52081       0.0      137.0
..       ...               ...       ...        ...
0       NTAS           48401.0      15.0      -51.0
1    Stratus           38400.0     -20.0      -85.0
2      WHOTS           51400.0      22.7     -158.0
0    32n145e             28401      32.0      145.0
0    50n145w             48400      50.0     -145.0

[101 rows x 4 columns]

In [17]:
ddf = pd.DataFrame.from_dict(metadata_by_did, orient='index')
with constants.postgres_engine.connect() as conn:
    ddf.to_sql('metadata', index=False, con=conn, if_exists='replace')
ddf

,url,locations,id,title,start_date,end_date,start_date_seconds,end_date_seconds
tao_flux_clim_lwr_absolute,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,tao_flux_clim_lwr_absolute,TAO OceanSITES flux data Absolute Wind Speed a...,1997-06-19,2021-09-28,8.667180e+08,1.632852e+09
tao_flux_clim_lwr_relative,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,tao_flux_clim_lwr_relative,TAO OceanSITES flux data Relative Wind Speed a...,1998-03-09,2021-09-28,8.894178e+08,1.632852e+09
tao_flux_absolute,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,tao_flux_absolute,TAO OceanSITES flux data with LWR and Absolute...,2000-04-22,2021-09-07,9.563976e+08,1.631038e+09
tao_flux_relative,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,tao_flux_relative,TAO OceanSITES flux data with LWR and Relative...,2000-04-26,2021-09-07,9.567324e+08,1.631038e+09
WHOI_flux,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,WHOI_flux,Surface fluxes calculated with Coare 3.0 algor...,2000-10-08,2018-09-25,9.709686e+08,1.537889e+09
ocs_keo_flux,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,ocs_keo_flux,OceanSITES Keo Flux hourly data,2004-06-16,2020-05-19,1.087416e+09,1.589857e+09
ocs_papa_flux,https://data.pmel.noaa.gov/pmel/erddap/tableda...,https://data.pmel.noaa.gov/pmel/erddap/tableda...,ocs_papa_flux,OceanSITES Papa Flux hourly data,2007-06-08,2022-02-24,1.181279e+09,1.645722e+09

In [18]:
udf = pd.DataFrame.from_dict(units_by_did, orient='index')
udf = udf.reset_index().rename(columns={"index":"did"})
with constants.postgres_engine.connect() as conn:
    udf.to_sql('units', index=False, if_exists='replace', con=conn)
udf

,did,time,latitude,longitude,HEIGHT,HEIGHTZS,QLAT,QSEN,QRAIN,SWNET,...,WS_H,QQ_H,TA_H,TAUE,TAUN,STABILITY,TSK,TWRM,TCL,BUOYANCY_FLUX
0,tao_flux_clim_lwr_absolute,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,meters,meters,W m-2,W m-2,W m-2,W m-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tao_flux_clim_lwr_relative,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,meters,meters,W m-2,W m-2,W m-2,W m-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tao_flux_absolute,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,meters,meters,W m-2,W m-2,W m-2,W m-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tao_flux_relative,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,meters,meters,W m-2,W m-2,W m-2,W m-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WHOI_flux,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,NaN,NaN,NaN,NaN,NaN,NaN,...,m/s,g/kg,degree_C,N/m^2,N/m^2,1,NaN,NaN,NaN,NaN
5,ocs_keo_flux,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,meters,NaN,W m-2,W m-2,W m-2,W m-2,...,NaN,NaN,NaN,NaN,NaN,NaN,degree_Celsius,degree_Celsius,degree_Celsius,kg s-1 m-2
6,ocs_papa_flux,seconds since 1970-01-01T00:00:00Z,degrees_north,degrees_east,meters,NaN,W m-2,W m-2,W m-2,W m-2,...,NaN,NaN,NaN,NaN,NaN,NaN,degree_Celsius,degree_Celsius,degree_Celsius,kg s-1 m-2

In [24]:
file = 'flux_discovery.json'
with open(file) as fstream:
    discovery = json.load(fstream)
discovery

{'discovery': {'wind_stress': {'question': 'Stations with Wind Stress',
   'search': [{'join': 'or',
     'short_names': ['TAUX', 'TAUY'],
     'standard_names': ['surface_downward_eastward_stress',
      'surface_downward_northward_stress'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux']},
    {'join': 'or',
     'short_names': ['TAUE', 'TAUN'],
     'standard_name': ['surface_downward_eastward_stress',
      'surface_downward_northward_stress'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux']}]},
  'net_surface_flux': {'question': 'Stations with Net Surface Heat Flux',
   'search': [{'join': 'or',
     'short_names': ['QNET'],
     'standard_names': ['surface_net_heat_flux'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux']},
    {'join': 'or',
     'short_names': ['QN'],
     'standard_names': ['surface_net_heat_flux'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux']}]},
  'turbulent_heat_flux': {'question': 'Stations with Bulk Turbulent Heat Flux',
   'search': [{'join': 'and',
     'short_names': ['QLAT', 'QSEN'],
     'standard_names': ['surface_upward_latent_heat_flux',
      'surface_upward_sensible_heat_flux'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux']},
    {'join': 'and',
     'short_names': ['QL', 'QS'],
     'standard_names': ['surface_upward_latent_heat_flux',
      'surface_upward_sensible_heat_flux'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux']}]},
  'precip': {'question': 'Stations with Precipitation',
   'search': [{'join': 'and',
     'short_names': ['RAIN'],
     'standard_names': ['rainfall_rate'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux']}]},
  'evap_minus_precip': {'question': 'Stations with Evaporation minus Precipitation',
   'search': [{'join': 'and',
     'short_names': ['RAIN', 'EVAP'],
     'standard_names': ['rainfall_rate', 'surface_water_evaporation_rate'],
     'datasets': ['http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux',
      'http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux']}]}}}

In [61]:
discovery_df = None
query='site_code&distinct()'
discovery_expanded = {}
for discovery_id in discovery['discovery']:
    print(discovery_id)
    discovery_expanded[discovery_id] = {}
    question = discovery['discovery'][discovery_id]
    print(question['question'])
    for collection in question['search']:
        short_string = ','.join(collection['short_names'])
        print(short_string)
        for url in collection['datasets']:
            did = url[url.rfind("/")+1:]
            print(did)
            r_url = url+'.csv?'+query
            print(r_url)
            df = pd.read_csv(r_url, skiprows=[1])
            df['question_id'] = discovery_id
            df['question_title'] = question['question']
            df['short_string'] = short_string
            df['did'] = did
            if discovery_df is None:
                discovery_df = df
            else:
                discovery_df = pd.concat([discovery_df, df])
with constants.postgres_engine.connect() as conn:
    discovery_df.to_sql('discovery', index=False, if_exists='replace', con=conn)
discovery_df

wind_stress
Stations with Wind Stress
TAUX,TAUY
tao_flux_clim_lwr_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative.csv?site_code&distinct()
tao_flux_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute.csv?site_code&distinct()
tao_flux_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative.csv?site_code&distinct()
tao_flux_clim_lwr_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute.csv?site_code&distinct()
ocs_keo_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux.csv?site_code&distinct()
ocs_papa_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux.csv?site_code&distinct()
TAUE,TAUN
WHOI_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux.csv?site_code&distinct()
net_surface_flux
Stations with Net Surface Heat Flux
QNET
tao_flux_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute.csv?site_code&distinct()
tao_flux_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative.csv?site_code&distinct()
ocs_keo_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux.csv?site_code&distinct()
ocs_papa_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux.csv?site_code&distinct()
QN
WHOI_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux.csv?site_code&distinct()
turbulent_heat_flux
Stations with Bulk Turbulent Heat Flux
QLAT,QSEN
tao_flux_clim_lwr_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative.csv?site_code&distinct()
tao_flux_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute.csv?site_code&distinct()
tao_flux_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative.csv?site_code&distinct()
tao_flux_clim_lwr_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute.csv?site_code&distinct()
ocs_keo_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux.csv?site_code&distinct()
ocs_papa_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux.csv?site_code&distinct()
QL,QS
WHOI_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux.csv?site_code&distinct()
precip
Stations with Precipitation
RAIN
tao_flux_clim_lwr_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative.csv?site_code&distinct()
tao_flux_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute.csv?site_code&distinct()
tao_flux_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative.csv?site_code&distinct()
tao_flux_clim_lwr_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute.csv?site_code&distinct()
ocs_keo_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux.csv?site_code&distinct()
ocs_papa_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux.csv?site_code&distinct()
WHOI_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/WHOI_flux.csv?site_code&distinct()
evap_minus_precip
Stations with Evaporation minus Precipitation
RAIN,EVAP
tao_flux_clim_lwr_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_relative.csv?site_code&distinct()
tao_flux_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_absolute.csv?site_code&distinct()
tao_flux_relative
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_relative.csv?site_code&distinct()
tao_flux_clim_lwr_absolute
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/tao_flux_clim_lwr_absolute.csv?site_code&distinct()
ocs_keo_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_keo_flux.csv?site_code&distinct()
ocs_papa_flux
http://hazy.pmel.noaa.gov:8140/erddap/tabledap/ocs_papa_flux.csv?site_code&distinct()

,site_code,question_id,question_title,short_string,did
0,0n10w,wind_stress,Stations with Wind Stress,"TAUX,TAUY",tao_flux_clim_lwr_relative
1,0n110w,wind_stress,Stations with Wind Stress,"TAUX,TAUY",tao_flux_clim_lwr_relative
2,0n125w,wind_stress,Stations with Wind Stress,"TAUX,TAUY",tao_flux_clim_lwr_relative
3,0n137e,wind_stress,Stations with Wind Stress,"TAUX,TAUY",tao_flux_clim_lwr_relative
4,0n140w,wind_stress,Stations with Wind Stress,"TAUX,TAUY",tao_flux_clim_lwr_relative
...,...,...,...,...,...
93,8s80.5e,evap_minus_precip,Stations with Evaporation minus Precipitation,"RAIN,EVAP",tao_flux_clim_lwr_absolute
94,8s95e,evap_minus_precip,Stations with Evaporation minus Precipitation,"RAIN,EVAP",tao_flux_clim_lwr_absolute
95,8s95w,evap_minus_precip,Stations with Evaporation minus Precipitation,"RAIN,EVAP",tao_flux_clim_lwr_absolute
0,32n145e,evap_minus_precip,Stations with Evaporation minus Precipitation,"RAIN,EVAP",ocs_keo_flux
0,50n145w,evap_minus_precip,Stations with Evaporation minus Precipitation,"RAIN,EVAP",ocs_papa_flux

In [37]:
unroll = []
for did in variables_by_did:
    for short_name in variables_by_did[did]:
        unroll.append({'did': did, 'short_name': short_name})
vdf = pd.DataFrame(unroll)
with constants.postgres_engine.connect() as conn:
    vdf.to_sql('variables', index=False, if_exists='replace', con=conn)
vdf

                            did     short_name
0    tao_flux_clim_lwr_absolute      site_code
1    tao_flux_clim_lwr_absolute           time
2    tao_flux_clim_lwr_absolute       latitude
3    tao_flux_clim_lwr_absolute      longitude
4    tao_flux_clim_lwr_absolute         HEIGHT
..                          ...            ...
151               ocs_papa_flux           EVAP
152               ocs_papa_flux            EMP
153               ocs_papa_flux  BUOYANCY_FLUX
154               ocs_papa_flux        FLUX_QC
155               ocs_papa_flux        FLUX_DM

[156 rows x 2 columns]